<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>
    <div class="template">
        <div class="fila" id="fila1"></div>

        <div class="fila" id="fila2">

                <div class="caja" id="caja1">Caja 1</div>
                <div class="caja" id="caja2">Caja 2</div>

        </div>

        <div class="fila" id="fila3">

                <div class="caja" id="caja3">Caja 3</div>
                <div class="caja" id="caja4">

                    <div class="subcaja" id="subcaja1">Subcaja 1</div>
                    <div class="subcaja" id="subcaja2">Subcaja 2</div>

                </div>

        </div>

        <div class="fila" id="fila4">

                <div class="caja" id="caja5">Caja 5</div>
                <div class="caja" id="caja6">Caja 6</div>
                <div class="caja" id="caja7">Caja 7</div>

        </div>
    </div>
</body>
</html>