*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 0;
}

.template{
    width: 1300px;
    height: 720px;
    border-radius: 15px;
    border: 7.5px grey solid;
    margin-top: 55px;
    margin-left: 80px;
    background-color: white;
}

.template div{
    display: flex;
}

    #fila1{
        width: 100%;
        height: 10%;
        justify-content: space-between;
        background-color: lightgrey;
    }

    #fila2{
        width: 100%;
        height: 20%;
    }

        #caja1{
            width: 70%;
            height: 100%;
            margin-top: 5px;
            margin-left: 5px;
            background-color: red;
        }

        #caja2{
            width: 30%;
            height: 100%;
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 5px;
            background-color: red;
        }


    #fila3{
        width: 100%;
        height: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        #caja3{
            width: 40%;
            height: 100%;
            margin-left: 5px;
            background-color:orange;
        }

        #caja4{
            width: 60%;
            height: 100%;
            margin-left: 5px;
            margin-right: 5px;
            display: block;
        
        }

            #subcaja1{
                width: 100%;
                height: 50%;
                margin-bottom: 5px;
                background-color: purple
            }

            #subcaja2{
                width: 100%;
                height: 50%;
                margin-bottom: 5px;
                background-color: purple;
            }

    #fila4{
        width: 100%;
        height: 16.5%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        #caja5{
            width: 100%;
            height: 100%;
            margin-left: 5px;
            margin-right: 5px;
            background-color: blue;
        }

        #caja6{
            width: 100%;
            height: 100%;
            margin-left: 5px;
            margin-right: 5px;
            background-color: blue;
        }

        #caja7{
            width: 100%;
            height: 100%;
            margin-left: 5px;
            margin-right: 5px;
            background-color: blue;
        }

       



